
/* Default Button */
.qbtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: var(--size-xl);
    min-width: var(--size-xl);
    padding: 0px var(--size-lg);
    font-size: var(--body);
    font-weight: 600;
    color: var(--text-primary);
    line-height: 1;
    background-color: var(--btn-primary);
    border: solid 1px var(--btn-border-primary);
    border-radius: var(--size-xs);
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    text-decoration: none;
    transition: background-color var(--animation-fast), border-color var(--animation-fast), color var(--animation-fast), transform var(--animation-fast);
}

@media (hover: hover) and (pointer: fine) {
    .qbtn:hover {
        background-color: var(--btn-secondary);
    }
}

.qbtn:active {
    background-color: var(--btn-tertiary);
    border-color: var(--btn-border-tertiary);
    color: var(--text-tertiary);
    transform: scale(0.98);
}

.qbtn:disabled,
.qbtn[disabled] {
    transform: none;
    background-color: var(--btn-disable);
    color: var(--text-disable);
    cursor: not-allowed;
    border-color: var(--btn-border-disable);
}

.qbtn.qbtn-accent,
.qbtn.qbtn-red,
.qbtn.qbtn-pink,
.qbtn.qbtn-magenta,
.qbtn.qbtn-purple,
.qbtn.qbtn-blue,
.qbtn.qbtn-indigo,
.qbtn.qbtn-cyan,
.qbtn.qbtn-teal,
.qbtn.qbtn-green,
.qbtn.qbtn-lime,
.qbtn.qbtn-yellow,
.qbtn.qbtn-orange {
    color: var(--text-on-fill-btn-primary);
    border: none;
}

.qbtn.qbtn-accent:active,
.qbtn.qbtn-red:active,
.qbtn.qbtn-pink:active,
.qbtn.qbtn-magenta:active,
.qbtn.qbtn-purple:active,
.qbtn.qbtn-blue:active,
.qbtn.qbtn-indigo:active,
.qbtn.qbtn-cyan:active,
.qbtn.qbtn-teal:active,
.qbtn.qbtn-green:active,
.qbtn.qbtn-lime:active,
.qbtn.qbtn-yellow:active,
.qbtn.qbtn-orange:active {
    color: var(--text-on-fill-btn-tertiary);
}

/* Outline Button */
.qbtn.qbtn-outline {
    --btn-primary: var(--gray-primary);
    --btn-secondary: var(--gray-secondary);
    --btn-tertiary: var(--gray-tertiary);
    color: var(--btn-primary);
    background-color: color-mix(in srgb, var(--btn-primary) 10%, transparent);
    border: solid 2px var(--btn-primary);
}

@media (hover: hover) and (pointer: fine) {
    .qbtn.qbtn-outline:hover {
        background-color: color-mix(in srgb, var(--btn-secondary) 20%, transparent);
        border-color: var(--btn-secondary);
        color: var(--btn-secondary);
    }
}

.qbtn.qbtn-outline:active {
    background-color: color-mix(in srgb, var(--btn-tertiary) 25%, transparent);
    border-color: var(--btn-tertiary);
    color: var(--btn-tertiary);
    transform: scale(0.98);
}

.qbtn.qbtn-outline:disabled,
.qbtn.qbtn-outline[disabled] {
    transform: none;
    color: var(--text-disable);
    cursor: not-allowed;
    border-color: var(--text-disable);
    background-color: color-mix(in srgb, var(--text-disable) 20%, transparent);
}

/* Outline Filled Button */
.qbtn.qbtn-outline-filled {
    --btn-primary: var(--gray-primary);
    --btn-secondary: var(--gray-secondary);
    --btn-tertiary: var(--gray-tertiary);
    color: var(--btn-primary);
    background-color: transparent;
    border: solid 2px var(--btn-primary);
}

@media (hover: hover) and (pointer: fine) {
    .qbtn.qbtn-outline-filled:hover {
        background-color: var(--btn-secondary);
        border-color: var(--btn-secondary);
        color: var(--text-on-fill-btn-primary);
    }
}

.qbtn.qbtn-outline-filled:active {
    background-color: var(--btn-tertiary);
    border-color: var(--btn-tertiary);
    color: var(--text-on-fill-btn-tertiary);
    transform: scale(0.98);
}

.qbtn.qbtn-outline-filled:disabled,
.qbtn.qbtn-outline-filled[disabled] {
    transform: none;
    color: var(--text-disable);
    cursor: not-allowed;
    border-color: var(--text-disable);
    background-color: transparent;
}

/* Flat Button */
.qbtn.qbtn-flat {
    --btn-primary: var(--gray-primary);
    --btn-secondary: var(--gray-secondary);
    --btn-tertiary: var(--gray-tertiary);
    color: var(--btn-primary);
    background-color: color-mix(in srgb, var(--btn-primary) 10%, transparent);
    border: none;
}

@media (hover: hover) and (pointer: fine) {
    .qbtn.qbtn-flat:hover {
        background-color: color-mix(in srgb, var(--btn-secondary) 20%, transparent);
        color: var(--btn-secondary);
    }
}

.qbtn.qbtn-flat:active {
    background-color: color-mix(in srgb, var(--btn-tertiary) 25%, transparent);
    color: var(--btn-tertiary);
    transform: scale(0.98);
}

.qbtn.qbtn-flat:disabled,
.qbtn.qbtn-flat[disabled] {
    transform: none;
    color: var(--text-disable);
    cursor: not-allowed;
    background-color: color-mix(in srgb, var(--text-disable) 20%, transparent);
}

/* Flat Button */
.qbtn.qbtn-text {
    --btn-primary: var(--gray-primary);
    --btn-secondary: var(--gray-secondary);
    --btn-tertiary: var(--gray-tertiary);
    color: var(--btn-primary);
    background-color: transparent;
    border: none;
}

@media (hover: hover) and (pointer: fine) {
    .qbtn.qbtn-text:hover {
        color: var(--btn-secondary);
        text-decoration: underline;
    }
}

.qbtn.qbtn-text:active {
    color: var(--btn-tertiary);
    transform: scale(0.98);
    text-decoration: underline;
}

.qbtn.qbtn-text:disabled,
.qbtn.qbtn-text[disabled] {
    transform: none;
    color: var(--text-disable);
    cursor: not-allowed;
    background-color: transparent;
    text-decoration: none;
}
