.qform-group {
    display: flex;
    gap: var(--size-sm);
    align-items: center;
    border-bottom: solid 1px transparent;
    background-color: var(--control-primary);
    outline: solid 1px var(--btn-border-primary);
    transition: background-color var(--animation-fast), border-color var(--animation-fast);
    border-radius: var(--size-xs);
    padding: 0 var(--size-sm);
}

.qform-group input.qform-control[type="text"],
.qform-group input.qform-control[type="password"],
.qform-group input.qform-control[type="email"],
.qform-group input.qform-control[type="number"],
.qform-group input.qform-control[type="search"],
.qform-group input.qform-control[type="tel"],
.qform-group input.qform-control[type="url"],
.qform-group input.qform-control[type="date"],
.qform-group input.qform-control[type="time"],
.qform-group input.qform-control[type="datetime-local"],
.qform-group input.qform-control[type="month"],
.qform-group input.qform-control[type="week"],
.qform-group textarea.qform-control {
    width: 100%;
    min-height: var(--size-xl);
    font-size: var(--subtitle);
    font-weight: 400;
    color: var(--text-primary);
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration: none;
    transition: color var(--animation-fast);
}

input[type="number"] {
    text-align: end;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Hover */
@media (hover: hover) and (pointer: fine) {
    .qform-group:has(.qform-control:hover) {
        background-color: var(--control-secondary);
    }
}

/* Disabled */
.qform-group input.qform-control:disabled,
.qform-group textarea.qform-control:disabled,
.qform-group input.qform-control:disabled:hover,
.qform-group textarea.qform-control:disabled:hover,
.qform-group input.qform-control:disabled:focus,
.qform-group textarea.qform-control:disabled:focus,
.qform-group input.qform-control:disabled:active,
.qform-group textarea.qform-control:disabled:active {
    color: var(--text-disable);
}

.qform-group:has(.qform-control:disabled),
.qform-group:has(.qform-control:disabled:hover),
.qform-group:has(.qform-control:disabled:focus),
.qform-group:has(.qform-control:disabled:active) {
    background-color: var(--control-disable);
    outline-color: var(--btn-border-disable);
    border-color: transparent;
}

.qform-group:has(.qform-control:focus),
.qform-group:has(.qform-control:active) {
    background-color: var(--control-tertiary);
    border-color: var(--accent-tertiary);
}

/* Placeholder */
input.qform-control::placeholder,
textarea.qform-control::placeholder {
    color: color-mix(in srgb, var(--text-primary) 30%, transparent);
    font-weight: 400;
    font-size: var(--body-size);
}

input.qform-control:focus::placeholder,
textarea.qform-control:focus::placeholder,
input.qform-control:active::placeholder,
textarea.qform-control:active::placeholder {
    color: color-mix(in srgb, var(--text-primary) 60%, transparent);
}

input.qform-control:disabled::placeholder,
textarea.qform-control:disabled::placeholder,
input.qform-control:disabled:hover::placeholder,
textarea.qform-control:disabled:hover::placeholder,
input.qform-control:disabled:focus::placeholder,
textarea.qform-control:disabled:focus::placeholder,
input.qform-control:disabled:active::placeholder,
textarea.qform-control:disabled:active::placeholder {
    color: color-mix(in srgb, var(--text-primary) 20%, transparent);
}

/* Autofill styles */
input.qform-control:-webkit-autofill {
    -webkit-text-fill-color: var(--text-primary);
    font-weight: 400;

    /* Background fix */
    transition: background-color 9999s ease-in-out 0s;
    box-shadow: 0 0 0 1000px var(--control-primary) inset !important;

    /* Optional border fix for focus */
    border-bottom: solid 1px var(--control-primary);
}

/* Autofill styles */
input.qform-control:-webkit-autofill:hover {
    /* Background fix */
    transition: background-color 9999s ease-in-out 0s;
    box-shadow: 0 0 0 1000px var(--control-secondary) inset !important;

    /* Optional border fix for focus */
    border-bottom: solid 1px var(--control-secondary);
}

/* Autofill when focused (apply your active state) */
input.qform-control:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px var(--control-tertiary) inset !important;
    border-bottom: solid 1px var(--accent-tertiary);
}

input.qform-control::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
}

:root[data-theme="dark"] input.qform-control::-webkit-calendar-picker-indicator {
    filter: invert(0.7);
}