html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --h1: 2.5rem;
    --h2: 2rem;
    --h3: 1.75rem;
    --h4: 1.5rem;
    --h5: 1.25rem;
    --h6: 1rem;
    --body: 1rem;
    --small: 0.875rem;
    --caption: 0.75rem;

    /* Utilities Size */
    --size-xxs: 0.25rem;
    --size-xs: 0.5rem;
    --size-sm: 0.75rem;
    --size-md: 1rem;
    --size-lg: 1.5rem;
    --size-xl: 2rem;
    --size-xxl: 3rem;

    /* Animation Duration */
    --animation-faster: 80ms;
    --animation-fast: 100ms;
    --animation-medium: 200ms;
    --animation-slow: 300ms;

    /* Color */
    --red-lighter: #ff6b6b;
    --red-light: #fa5252;
    --red-normal: #f03e3e;
    --red-dark: #e03131;
    --red-darker: #c92a2a;
    --red-primary: var(--red-normal);
    --red-secondary: var(--red-dark);
    --red-tertiary: var(--red-darker);

    --pink-lighter: #f06595;
    --pink-light: #e64980;
    --pink-normal: #d6336c;
    --pink-dark: #c2255c;
    --pink-darker: #a61e4d;
    --pink-primary: var(--pink-normal);
    --pink-secondary: var(--pink-dark);
    --pink-tertiary: var(--pink-darker);

    --magenta-lighter: #cc5de8;
    --magenta-light: #be4bdb;
    --magenta-normal: #ae3ec9;
    --magenta-dark: #9c36b5;
    --magenta-darker: #862e9c;
    --magenta-primary: var(--magenta-normal);
    --magenta-secondary: var(--magenta-dark);
    --magenta-tertiary: var(--magenta-darker);

    --purple-lighter: #845ef7;
    --purple-light: #7950f2;
    --purple-normal: #7048e8;
    --purple-dark: #6741d9;
    --purple-darker: #5f3dc4;
    --purple-primary: var(--purple-normal);
    --purple-secondary: var(--purple-dark);
    --purple-tertiary: var(--purple-darker);

    --indigo-lighter: #5c7cfa;
    --indigo-light: #4c6ef5;
    --indigo-normal: #4263eb;
    --indigo-dark: #3b5bdb;
    --indigo-darker: #364fc7;
    --indigo-primary: var(--indigo-normal);
    --indigo-secondary: var(--indigo-dark);
    --indigo-tertiary: var(--indigo-darker);

    --blue-lighter: #339af0;
    --blue-light: #228be6;
    --blue-normal: #1c7ed6;
    --blue-dark: #1971c2;
    --blue-darker: #1864ab;
    --blue-primary: var(--blue-normal);
    --blue-secondary: var(--blue-dark);
    --blue-tertiary: var(--blue-darker);

    --cyan-lighter: #22b8cf;
    --cyan-light: #15aabf;
    --cyan-normal: #1098ad;
    --cyan-dark: #0c8599;
    --cyan-darker: #0b7285;
    --cyan-primary: var(--cyan-normal);
    --cyan-secondary: var(--cyan-dark);
    --cyan-tertiary: var(--cyan-darker);

    --teal-lighter: #20c997;
    --teal-light: #12b886;
    --teal-normal: #0ca678;
    --teal-dark: #099268;
    --teal-darker: #087f5b;
    --teal-primary: var(--teal-normal);
    --teal-secondary: var(--teal-dark);
    --teal-tertiary: var(--teal-darker);

    --green-lighter: #51cf66;
    --green-light: #40c057;
    --green-normal: #37b24d;
    --green-dark: #2f9e44;
    --green-darker: #2b8a3e;
    --green-primary: var(--green-normal);
    --green-secondary: var(--green-dark);
    --green-tertiary: var(--green-darker);

    --lime-lighter: #94d82d;
    --lime-light: #82c91e;
    --lime-normal: #74b816;
    --lime-dark: #66a80f;
    --lime-darker: #5c940d;
    --lime-primary: var(--lime-normal);
    --lime-secondary: var(--lime-dark);
    --lime-tertiary: var(--lime-darker);

    --yellow-lighter: #fcc419;
    --yellow-light: #fab005;
    --yellow-normal: #f59f00;
    --yellow-dark: #f08c00;
    --yellow-darker: #e67700;
    --yellow-primary: var(--yellow-normal);
    --yellow-secondary: var(--yellow-dark);
    --yellow-tertiary: var(--yellow-darker);

    --orange-lighter: #ff922b;
    --orange-light: #fd7e14;
    --orange-normal: #f76707;
    --orange-dark: #e8590c;
    --orange-darker: #d9480f;
    --orange-primary: var(--orange-normal);
    --orange-secondary: var(--orange-dark);
    --orange-tertiary: var(--orange-darker);

    --gray-lighter: #adb5bd;
    --gray-light: #868e96;
    --gray-normal: #495057;
    --gray-dark: #343a40;
    --gray-darker: #212529;
    --gray-primary: var(--gray-normal);
    --gray-secondary: var(--gray-dark);
    --gray-tertiary: var(--gray-darker);

    --dark: #101010;
    --light: #f3f3f3;

    --accent-lighter: var(--blue-lighter);
    --accent-light: var(--blue-light);
    --accent-normal: var(--blue-normal);
    --accent-dark: var(--blue-dark);
    --accent-darker: var(--blue-darker);
    --accent-primary: var(--blue-normal);
    --accent-secondary: var(--blue-dark);
    --accent-tertiary: var(--blue-darker);

    --btn-pri: var(--gray-normal);
    --btn-sec: var(--gray-dark);
    --btn-ter: var(--gray-darker);
    --btn-radius: var(--size-xxs);
    --btn-min-height: var(--size-xl);
    --btn-padding-block: var(--size-sm);
    --btn-padding-inline: var(--size-md);
    --btn-font-size: var(--body);

    --control-pri: color-mix(in srgb, var(--dark) 2%, transparent);
    --control-sec: color-mix(in srgb, var(--dark) 5%, transparent);
    --control-ter: #ffffff;
    --control-dis: color-mix(in srgb, var(--dark) 10%, transparent);
    --text-control-pri: color-mix(in srgb, var(--dark) 80%, transparent);
    --text-control-sec: color-mix(in srgb, var(--dark) 85%, transparent);
    --text-control-ter: color-mix(in srgb, var(--dark) 70%, transparent);
    --text-control-dis: color-mix(in srgb, var(--dark) 65%, transparent);
    --placeholder-control-pri: color-mix(in srgb, var(--dark) 40%, transparent);
    --placeholder-control-sec: color-mix(in srgb, var(--dark) 45%, transparent);
    --placeholder-control-ter: color-mix(in srgb, var(--dark) 30%, transparent);
    --placeholder-control-dis: color-mix(in srgb, var(--dark) 25%, transparent);
    --strock-control-pri: color-mix(in srgb, var(--dark) 10%, transparent);
    --strock-control-sec: color-mix(in srgb, var(--dark) 15%, transparent);
    --strock-control-ter: color-mix(in srgb, var(--dark) 20%, transparent);
    --strock-control-dis: color-mix(in srgb, var(--dark) 5%, transparent);

    --alert-normal: var(--gray-normal);

    --text-on-accent: var(--light);
    --text-primary: var(--dark);
    --text-secondary: color-mix(in srgb, var(--gray-dark) 70%, transparent);
    --strock-default: color-mix(in srgb, var(--gray-darker) 10%, transparent);
    --backgound-default: #f3f6f9;
    --surface-default: color-mix(in srgb, var(--light) 80%, transparent);
    --surface-secondary: color-mix(in srgb, var(--gray-darker) 5%, transparent);
    --card-radius: var(--size-xs);
    --alert-radius: var(--size-xs);
    --shadow-default: color-mix(in srgb, var(--dark) 25%, transparent);
}

:root[data-theme="dark"] {
    --red-primary: var(--red-normal);
    --red-secondary: var(--red-light);
    --red-tertiary: var(--red-lighter);

    --pink-primary: var(--pink-normal);
    --pink-secondary: var(--pink-light);
    --pink-tertiary: var(--pink-lighter);

    --magenta-primary: var(--magenta-normal);
    --magenta-secondary: var(--magenta-light);
    --magenta-tertiary: var(--magenta-lighter);

    --purple-primary: var(--purple-normal);
    --purple-secondary: var(--purple-light);
    --purple-tertiary: var(--purple-lighter);

    --indigo-primary: var(--indigo-normal);
    --indigo-secondary: var(--indigo-light);
    --indigo-tertiary: var(--indigo-lighter);

    --blue-primary: var(--blue-normal);
    --blue-secondary: var(--blue-light);
    --blue-tertiary: var(--blue-lighter);

    --cyan-primary: var(--cyan-normal);
    --cyan-secondary: var(--cyan-light);
    --cyan-tertiary: var(--cyan-lighter);

    --teal-primary: var(--teal-normal);
    --teal-secondary: var(--teal-light);
    --teal-tertiary: var(--teal-lighter);

    --green-primary: var(--green-normal);
    --green-secondary: var(--green-light);
    --green-tertiary: var(--green-lighter);

    --lime-primary: var(--lime-normal);
    --lime-secondary: var(--lime-light);
    --lime-tertiary: var(--lime-lighter);

    --yellow-primary: var(--yellow-normal);
    --yellow-secondary: var(--yellow-light);
    --yellow-tertiary: var(--yellow-lighter);

    --orange-primary: var(--orange-normal);
    --orange-secondary: var(--orange-light);
    --orange-tertiary: var(--orange-lighter);

    --gray-primary: var(--gray-normal);
    --gray-secondary: var(--gray-light);
    --gray-tertiary: var(--gray-lighter);

    --accent-primary: var(--blue-normal);
    --accent-secondary: var(--blue-light);
    --accent-tertiary: var(--blue-lighter);

    --alert-normal: var(--gray-light);

    --btn-pri: var(--gray-normal);
    --btn-sec: var(--gray-light);
    --btn-ter: var(--gray-lighter);

    --control-pri: color-mix(in srgb, var(--light) 2%, transparent);
    --control-sec: color-mix(in srgb, var(--light) 5%, transparent);
    --control-ter: var(--dark);
    --control-dis: color-mix(in srgb, var(--light) 10%, transparent);
    --text-control-pri: color-mix(in srgb, var(--light) 80%, transparent);
    --text-control-sec: color-mix(in srgb, var(--light) 85%, transparent);
    --text-control-ter: color-mix(in srgb, var(--light) 70%, transparent);
    --text-control-dis: color-mix(in srgb, var(--light) 65%, transparent);
    --placeholder-control-pri: color-mix(in srgb, var(--light) 40%, transparent);
    --placeholder-control-sec: color-mix(in srgb, var(--light) 45%, transparent);
    --placeholder-control-ter: color-mix(in srgb, var(--light) 30%, transparent);
    --placeholder-control-dis: color-mix(in srgb, var(--light) 25%, transparent);
    --strock-control-pri: color-mix(in srgb, var(--light) 10%, transparent);
    --strock-control-sec: color-mix(in srgb, var(--light) 15%, transparent);
    --strock-control-ter: color-mix(in srgb, var(--light) 20%, transparent);
    --strock-control-dis: color-mix(in srgb, var(--light) 5%, transparent);

    --text-on-accent: var(--light);
    --text-primary: var(--light);
    --text-secondary: color-mix(in srgb, var(--gray-light) 70%, transparent);
    --strock-default: color-mix(in srgb, var(--gray-lighter) 10%, transparent);
    --backgound-default: #1a1a1a;
    --surface-default: color-mix(in srgb, var(--light) 5%, transparent);
    --surface-secondary: color-mix(in srgb, var(--gray-lighter) 5%, transparent);
    --shadow-default: color-mix(in srgb, var(--dark) 50%, transparent);
}

.accent-red {
    --accent-primary: var(--red-normal);
    --accent-secondary: var(--red-secondary);
    --accent-tertiary: var(--red-tertiary);
}

.accent-pink {
    --accent-primary: var(--pink-normal);
    --accent-secondary: var(--pink-secondary);
    --accent-tertiary: var(--pink-tertiary);
}

.accent-magenta {
    --accent-primary: var(--magenta-normal);
    --accent-secondary: var(--magenta-secondary);
    --accent-tertiary: var(--magenta-tertiary);
}

.accent-purple {
    --accent-primary: var(--purple-normal);
    --accent-secondary: var(--purple-secondary);
    --accent-tertiary: var(--purple-tertiary);
}

.accent-indigo {
    --accent-primary: var(--indigo-normal);
    --accent-secondary: var(--indigo-secondary);
    --accent-tertiary: var(--indigo-tertiary);
}

.accent-blue {
    --accent-primary: var(--blue-normal);
    --accent-secondary: var(--blue-secondary);
    --accent-tertiary: var(--blue-tertiary);
}

.accent-cyan {
    --accent-primary: var(--cyan-normal);
    --accent-secondary: var(--cyan-secondary);
    --accent-tertiary: var(--cyan-tertiary);
}

.accent-teal {
    --accent-primary: var(--teal-normal);
    --accent-secondary: var(--teal-secondary);
    --accent-tertiary: var(--teal-tertiary);
}

.accent-green {
    --accent-primary: var(--green-normal);
    --accent-secondary: var(--green-secondary);
    --accent-tertiary: var(--green-tertiary);
}

.accent-lime {
    --accent-primary: var(--lime-normal);
    --accent-secondary: var(--lime-secondary);
    --accent-tertiary: var(--lime-tertiary);
}

.accent-yellow {
    --accent-primary: var(--yellow-normal);
    --accent-secondary: var(--yellow-secondary);
    --accent-tertiary: var(--yellow-tertiary);
}

.accent-orange {
    --accent-primary: var(--orange-normal);
    --accent-secondary: var(--orange-secondary);
    --accent-tertiary: var(--orange-tertiary);
}

.accent-gray {
    --accent-primary: var(--gray-normal);
    --accent-secondary: var(--gray-secondary);
    --accent-tertiary: var(--gray-tertiary);
}

.qbg-red {
    background-color: var(--red-normal) !important;
}

.qbg-pink {
    background-color: var(--pink-normal) !important;
}

.qbg-magenta {
    background-color: var(--magenta-normal) !important;
}

.qbg-purple {
    background-color: var(--purple-normal) !important;
}

.qbg-indigo {
    background-color: var(--indigo-normal) !important;
}

.qbg-blue {
    background-color: var(--blue-normal) !important;
}

.qbg-cyan {
    background-color: var(--cyan-normal) !important;
}

.qbg-teal {
    background-color: var(--teal-normal) !important;
}

.qbg-green {
    background-color: var(--green-normal) !important;
}

.qbg-lime {
    background-color: var(--lime-normal) !important;
}

.qbg-lime {
    background-color: var(--lime-normal) !important;
}

.qbg-yellow {
    background-color: var(--yellow-normal) !important;
}

.qbg-orange {
    background-color: var(--orange-normal) !important;
}

.qbg-gray {
    background-color: var(--gray-normal) !important;
}

.qbg-dark {
    background-color: var(--dark) !important;
}

.qbg-light {
    background-color: var(--light) !important;
}

.qtext-red {
    color: var(--red-normal) !important;
}

.qtext-pink {
    color: var(--pink-normal) !important;
}

.qtext-magenta {
    color: var(--magenta-normal) !important;
}

.qtext-purple {
    color: var(--purple-normal) !important;
}

.qtext-indigo {
    color: var(--indigo-normal) !important;
}

.qtext-blue {
    color: var(--blue-normal) !important;
}

.qtext-cyan {
    color: var(--cyan-normal) !important;
}

.qtext-teal {
    color: var(--teal-normal) !important;
}

.qtext-green {
    color: var(--green-normal) !important;
}

.qtext-lime {
    color: var(--lime-normal) !important;
}

.qtext-lime {
    color: var(--lime-normal) !important;
}

.qtext-yellow {
    color: var(--yellow-normal) !important;
}

.qtext-orange {
    color: var(--orange-normal) !important;
}

.qtext-gray {
    color: var(--gray-normal) !important;
}

.qtext-on-bg {
    color: var(--text-primary) !important;
}

.qtext-on-accent {
    color: var(--text-on-accent) !important;
}

.qtext-secondary {
    color: var(--text-secondary) !important;
}

input.qform:not([type="checkbox"], [type="radio"], [type="file"]) {
    min-height: var(--btn-min-height);
    width: 100%;
    background-color: var(--control-pri);
    color: var(--text-control-pri);
    font-size: var(--small);
    font-weight: 600;
    padding-block: 0;
    padding-inline: var(--btn-padding-inline);
    outline: solid 1px var(--strock-control-pri);
    border: none;
    border-bottom: solid 0 transparent;
    text-decoration: none;
    transition: background-color var(--animation-medium), outline-color var(--animation-medium), color var(--animation-medium), border-color var(--animation-medium), border-width var(--animation-medium);
    border-radius: var(--btn-radius);
}

input.qform:not([type="checkbox"], [type="radio"], [type="file"]):hover {
    outline-color: var(--strock-control-sec);
    background-color: var(--control-sec);
    color: var(--text-control-sec);
}

input.qform:not([type="checkbox"], [type="radio"], [type="file"]):active,
input.qform:not([type="checkbox"], [type="radio"], [type="file"]):focus {
    outline-color: var(--accent-tertiary);
    background-color: var(--control-ter);
    color: var(--text-control-ter);
}

input.qform.qform-active-indicator:not([type="checkbox"], [type="radio"], [type="file"]):active,
input.qform.qform-active-indicator:not([type="checkbox"], [type="radio"], [type="file"]):focus {
    outline-color: var(--strock-control-ter);
    border-color: var(--accent-primary);
    border-width: 1.5px;
}

input.qform:not([type="checkbox"], [type="radio"], [type="file"]):disabled:hover,
input.qform:not([type="checkbox"], [type="radio"], [type="file"]):disabled:focus,
input.qform:not([type="checkbox"], [type="radio"], [type="file"]):disabled:active,
input.qform:not([type="checkbox"], [type="radio"], [type="file"]):disabled {
    cursor: not-allowed;

    background-color: var(--control-dis);
    color: var(--text-control-dis);

    outline-color: var(--strock-control-dis);
    border: none;
}

input.qform:not([type="checkbox"], [type="radio"], [type="file"]):disabled:focus::placeholder,
input.qform:not([type="checkbox"], [type="radio"], [type="file"]):disabled:active::placeholder,
input.qform:not([type="checkbox"], [type="radio"], [type="file"]):disabled:hover::placeholder,
input.qform:not([type="checkbox"], [type="radio"], [type="file"]):disabled::placeholder {
    color: var(--placeholder-control-dis);
}

input.qform:not([type="checkbox"], [type="radio"], [type="file"])::placeholder {
    color: var(--placeholder-control-pri);
}

input.qform:not([type="checkbox"], [type="radio"], [type="file"]):hover::placeholder {
    color: var(--placeholder-control-sec);
}

input.qform:not([type="checkbox"], [type="radio"], [type="file"]):active::placeholder,
input.qform:not([type="checkbox"], [type="radio"], [type="file"]):focus::placeholder {
    color: var(--placeholder-control-ter);
}

input.qform:not([type="checkbox"], [type="radio"], [type="file"]):-webkit-autofill {
    -webkit-text-fill-color: var(--text-control-pri);
    box-shadow: 0 0 0 1000px #efefef inset;
    caret-color: var(--text-control-pri);

    transition: background-color 9999s ease-in-out 0s;
}

input.qform:not([type="checkbox"], [type="radio"], [type="file"]):-webkit-autofill:hover {
    -webkit-text-fill-color: var(--text-control-pri);
    box-shadow: 0 0 0 1000px #e9e9e9 inset;
    caret-color: var(--text-control-pri);
    transition: background-color 9999s ease-in-out 0s;
}

input.qform:not([type="checkbox"], [type="radio"], [type="file"]):-webkit-autofill:active,
input.qform:not([type="checkbox"], [type="radio"], [type="file"]):-webkit-autofill:focus {
    -webkit-text-fill-color: var(--text-control-pri);
    box-shadow: 0 0 0 1000px white inset;
    caret-color: var(--text-control-pri);
    transition: background-color 9999s ease-in-out 0s;
}

[data-theme="dark"] input.qform:not([type="checkbox"], [type="radio"], [type="file"]):-webkit-autofill {
    -webkit-text-fill-color: var(--text-control-pri);
    box-shadow: 0 0 0 1000px #2a2a2a inset;
    caret-color: var(--text-control-pri);

    transition: background-color 9999s ease-in-out 0s;
}

[data-theme="dark"] input.qform:not([type="checkbox"], [type="radio"], [type="file"]):-webkit-autofill:hover {
    -webkit-text-fill-color: var(--text-control-pri);
    box-shadow: 0 0 0 1000px #303030 inset;
    caret-color: var(--text-control-pri);

    transition: background-color 9999s ease-in-out 0s;
}

[data-theme="dark"] input.qform:not([type="checkbox"], [type="radio"], [type="file"]):-webkit-autofill:active,
[data-theme="dark"] input.qform:not([type="checkbox"], [type="radio"], [type="file"]):-webkit-autofill:focus {
    -webkit-text-fill-color: var(--text-control-pri);
    box-shadow: 0 0 0 1000px black inset;
    caret-color: var(--text-control-pri);

    transition: background-color 9999s ease-in-out 0s;
}

select.qselect {
    height: var(--btn-min-height);
    min-width: 100%;
    background-color: var(--control-pri);
    color: var(--text-control-pri);
    font-size: var(--small);
    font-weight: 600;
    padding-block: 0;
    padding-inline: var(--btn-padding-inline);
    outline: solid 1px var(--strock-control-pri);
    border: none;
    text-decoration: none;
    transition: background-color var(--animation-medium), outline-color var(--animation-medium), color var(--animation-medium), border-color var(--animation-medium), border-width var(--animation-medium);
    border-radius: var(--btn-radius);
    cursor: pointer;
}

select.qselect:hover {
    outline-color: var(--strock-control-sec);
    background-color: var(--control-sec);
    color: var(--text-control-sec);
}

select.qselect:active,
select.qselect:focus {
    outline-color: var(--strock-control-ter);
    background-color: var(--control-ter);
    color: var(--text-control-ter);
}

select.qselect option {
    background-color: var(--backgound-default);
    color: var(--text-control-pri);

    font-size: var(--small);
    font-weight: 500;
}

select.qselect option.qoption-placeholder {
    color: var(--placeholder-control-pri);
}

select.qselect:disabled:hover,
select.qselect:disabled:focus,
select.qselect:disabled:active,
select.qselect:disabled {
    cursor: not-allowed;

    background-color: var(--control-dis);
    color: var(--text-control-dis);

    outline-color: var(--strock-control-dis);
    border: none;
}

/* Alert */
.qalert {
    --alert-tint: color-mix(in srgb, var(--alert-normal) 10%, transparent);
    padding: var(--size-md) var(--size-lg);
    border-radius: var(--alert-radius);
    background-color: transparent;
    color: var(--alert-normal);
    border: solid 2.5px var(--alert-normal);
}

.qalert.qalert-soft {
    background-color: var(--alert-tint);
    border: none;
}

.qalert.qalert-outlined-soft {
    background-color: var(--alert-tint);
    border: solid 2.5px var(--alert-normal);
}

.qalert.qalert-filled,
.qalert.qalert-filled-3d {
    background-color: var(--alert-normal);
    color: var(--text-on-accent);
    border: none;
}

.qalert.qalert-filled-3d {
    box-shadow: inset 0px 2px 4px color-mix(in srgb, var(--light) 50%, transparent),
        inset 0px -2px 4px color-mix(in srgb, var(--dark) 50%, transparent);
}

.qalert.qalert-red {
    --alert-normal: var(--red-normal);
}

.qalert.qalert-pink {
    --alert-normal: var(--pink-normal);
}

.qalert.qalert-magenta {
    --alert-normal: var(--magenta-normal);
}

.qalert.qalert-purple {
    --alert-normal: var(--purple-normal);
}

.qalert.qalert-indigo {
    --alert-normal: var(--indigo-normal);
}

.qalert.qalert-blue {
    --alert-normal: var(--blue-normal);
}

.qalert.qalert-cyan {
    --alert-normal: var(--cyan-normal);
}

.qalert.qalert-teal {
    --alert-normal: var(--teal-normal);
}

.qalert.qalert-green {
    --alert-normal: var(--green-normal);
}

.qalert.qalert-lime {
    --alert-normal: var(--lime-normal);
}

.qalert.qalert-yellow {
    --alert-normal: var(--yellow-normal);
}

.qalert.qalert-orange {
    --alert-normal: var(--orange-normal);
}

.qalert.qalert-gray {
    --alert-normal: var(--gray-normal);
}


.qalert.qalert-rounded-xxs,
.qalert-theme-rounded-xxs {
    --alert-radius: var(--size-xxs);
}

.qalert.qalert-rounded-xs,
.qalert-theme-rounded-xs {
    --alert-radius: var(--size-xs);
}

.qalert.qalert-rounded-sm,
.qalert-theme-rounded-sm {
    --alert-radius: var(--size-sm);
}

.qalert.qalert-rounded-md,
.qalert-theme-rounded-md {
    --alert-radius: var(--size-md);
}

.qalert.qalert-rounded-lg,
.qalert-theme-rounded-lg {
    --alert-radius: var(--size-lg);
}

.qalert.qalert-rounded-xl,
.qalert-theme-rounded-xl {
    --alert-radius: var(--size-xl);
}

.qalert.qalert-rounded-xxl,
.qalert-theme-rounded-xxl {
    --alert-radius: var(--size-xxl);
}

/* Card */
.qcard {
    background-color: var(--surface-default);
    box-shadow: 0px 2px 4px var(--shadow-default);
    border-radius: var(--card-radius);
}

.qcard.qcard-lg .qcard-header,
.qcard.qcard-lg .qcard-body,
.qcard.qcard-lg .qcard-footer {
    padding: var(--size-md) var(--size-xl);
}

.qcard .qcard-header,
.qcard .qcard-body,
.qcard .qcard-footer {
    padding: var(--size-sm) var(--size-lg);
}

.qcard.qcard-sm .qcard-header,
.qcard.qcard-sm .qcard-body,
.qcard.qcard-sm .qcard-footer {
    padding: var(--size-xs) var(--size-md);
}

.qcard .qcard-header {
    border-bottom: solid 1px var(--strock-default);
}

.qcard .qcard-footer {
    background-color: var(--surface-secondary);
}

.qcard .qcard-header:first-child,
.qcard .qcard-body:first-child,
.qcard .qcard-footer:first-child {
    border-radius: var(--card-radius) var(--card-radius) 0 0;
}

.qcard .qcard-header:last-child,
.qcard .qcard-body:last-child,
.qcard .qcard-footer:last-child {
    border-radius: 0 0 var(--card-radius) var(--card-radius);
}

.qcard .qcard-header:only-child,
.qcard .qcard-body:only-child,
.qcard .qcard-footer:only-child {
    border-radius: var(--card-radius);
}

.qcard.qcard-header.qcard-red,
.qcard.qcard-header.qcard-pink,
.qcard.qcard-header.qcard-magenta,
.qcard.qcard-header.qcard-purple,
.qcard.qcard-header.qcard-indigo,
.qcard.qcard-header.qcard-blue,
.qcard.qcard-header.qcard-cyan,
.qcard.qcard-header.qcard-teal,
.qcard.qcard-header.qcard-green,
.qcard.qcard-header.qcard-lime,
.qcard.qcard-header.qcard-lime,
.qcard.qcard-header.qcard-yellow,
.qcard.qcard-header.qcard-orange,
.qcard.qcard-header.qcard-gray,
.qcard.qcard-body.qcard-red,
.qcard.qcard-body.qcard-pink,
.qcard.qcard-body.qcard-magenta,
.qcard.qcard-body.qcard-purple,
.qcard.qcard-body.qcard-indigo,
.qcard.qcard-body.qcard-blue,
.qcard.qcard-body.qcard-cyan,
.qcard.qcard-body.qcard-teal,
.qcard.qcard-body.qcard-green,
.qcard.qcard-body.qcard-lime,
.qcard.qcard-body.qcard-lime,
.qcard.qcard-body.qcard-yellow,
.qcard.qcard-body.qcard-orange,
.qcard.qcard-body.qcard-gray,
.qcard.qcard-footer.qcard-red,
.qcard.qcard-footer.qcard-pink,
.qcard.qcard-footer.qcard-magenta,
.qcard.qcard-footer.qcard-purple,
.qcard.qcard-footer.qcard-indigo,
.qcard.qcard-footer.qcard-blue,
.qcard.qcard-footer.qcard-cyan,
.qcard.qcard-footer.qcard-teal,
.qcard.qcard-footer.qcard-green,
.qcard.qcard-footer.qcard-lime,
.qcard.qcard-footer.qcard-lime,
.qcard.qcard-footer.qcard-yellow,
.qcard.qcard-footer.qcard-orange,
.qcard.qcard-footer.qcard-gray,
.qcard.qcard-red,
.qcard.qcard-pink,
.qcard.qcard-magenta,
.qcard.qcard-purple,
.qcard.qcard-indigo,
.qcard.qcard-blue,
.qcard.qcard-cyan,
.qcard.qcard-teal,
.qcard.qcard-green,
.qcard.qcard-lime,
.qcard.qcard-lime,
.qcard.qcard-yellow,
.qcard.qcard-orange,
.qcard.qcard-gray {
    color: var(--text-on-accent);
}

.qcard.qcard-red,
.qcard.qcard-header.qcard-red,
.qcard.qcard-body.qcard-red {
    background-color: var(--red-normal);
}

.qcard.qcard-pink,
.qcard.qcard-header.qcard-pink,
.qcard.qcard-body.qcard-pink {
    background-color: var(--pink-normal);
}

.qcard.qcard-magenta,
.qcard.qcard-header.qcard-magenta,
.qcard.qcard-body.qcard-magenta {
    background-color: var(--magenta-normal);
}

.qcard.qcard-purple,
.qcard.qcard-header.qcard-purple,
.qcard.qcard-body.qcard-purple {
    background-color: var(--purple-normal);
}

.qcard.qcard-indigo,
.qcard.qcard-header.qcard-indigo,
.qcard.qcard-body.qcard-indigo {
    background-color: var(--indigo-normal);
}

.qcard.qcard-blue,
.qcard.qcard-header.qcard-blue,
.qcard.qcard-body.qcard-blue {
    background-color: var(--blue-normal);
}

.qcard.qcard-cyan,
.qcard.qcard-header.qcard-cyan,
.qcard.qcard-body.qcard-cyan {
    background-color: var(--cyan-normal);
}

.qcard.qcard-teal,
.qcard.qcard-header.qcard-teal,
.qcard.qcard-body.qcard-teal {
    background-color: var(--teal-normal);
}

.qcard.qcard-green,
.qcard.qcard-header.qcard-green,
.qcard.qcard-body.qcard-green {
    background-color: var(--green-normal);
}

.qcard.qcard-lime,
.qcard.qcard-header.qcard-lime,
.qcard.qcard-body.qcard-lime {
    background-color: var(--lime-normal);
}

.qcard.qcard-lime,
.qcard.qcard-header.qcard-lime,
.qcard.qcard-body.qcard-lime {
    background-color: var(--lime-normal);
}

.qcard.qcard-yellow,
.qcard.qcard-header.qcard-yellow,
.qcard.qcard-body.qcard-yellow {
    background-color: var(--yellow-normal);
}

.qcard.qcard-orange,
.qcard.qcard-header.qcard-orange,
.qcard.qcard-body.qcard-orange {
    background-color: var(--orange-normal);
}

.qcard.qcard-gray,
.qcard.qcard-header.qcard-gray,
.qcard.qcard-body.qcard-gray {
    background-color: var(--gray-normal);
}


.qcard.qcard-footer.qcard-red {
    background-color: color-mix(in srgb, var(--red-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-pink {
    background-color: color-mix(in srgb, var(--pink-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-magenta {
    background-color: color-mix(in srgb, var(--magenta-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-purple {
    background-color: color-mix(in srgb, var(--purple-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-indigo {
    background-color: color-mix(in srgb, var(--indigo-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-blue {
    background-color: color-mix(in srgb, var(--blue-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-cyan {
    background-color: color-mix(in srgb, var(--cyan-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-teal {
    background-color: color-mix(in srgb, var(--teal-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-green {
    background-color: color-mix(in srgb, var(--green-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-lime {
    background-color: color-mix(in srgb, var(--lime-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-lime {
    background-color: color-mix(in srgb, var(--lime-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-yellow {
    background-color: color-mix(in srgb, var(--yellow-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-orange {
    background-color: color-mix(in srgb, var(--orange-normal) 5%, transparent);
}

.qcard.qcard-footer.qcard-gray {
    background-color: color-mix(in srgb, var(--gray-normal) 5%, transparent);
}

/* Button */
.qbtn {
    --btn-tint-pri: color-mix(in srgb, var(--btn-pri) 10%, transparent);
    --btn-tint-sec: color-mix(in srgb, var(--btn-sec) 15%, transparent);
    --btn-tint-ter: color-mix(in srgb, var(--btn-ter) 20%, transparent);
    min-height: var(--btn-min-height);
    background-color: var(--btn-pri);
    color: var(--text-on-accent);
    font-size: var(--btn-font-size);
    font-weight: 600;
    padding-block: 0;
    padding-inline: var(--btn-padding-inline);
    outline: none;
    border: none;
    text-decoration: none;
    transition: background-color var(--animation-medium), transform var(--animation-medium), color var(--animation-medium), border-color var(--animation-medium);
    border-radius: var(--btn-radius);
}

.qbtn.qbtn-3d:not(.qbtn.qbtn-soft,
    .qbtn.qbtn-soft-filled,
    .qbtn.qbtn-outlined,
    .qbtn.qbtn-outlined-filled) {
    box-shadow: inset 0px 1px 2px color-mix(in srgb, var(--light) 50%, transparent),
        inset 0px -1px 2px color-mix(in srgb, var(--dark) 50%, transparent);
}

.qbtn.qbtn-sm,
.qbtn-theme-sm {
    --btn-min-height: var(--size-lg);
    --btn-padding-inline: var(--size-sm);
    --btn-font-size: var(--small);
}

.qbtn.qbtn-lg,
.qbtn-theme-lg {
    --btn-min-height: var(--size-xxl);
    --btn-padding-inline: var(--size-lg);
    --btn-font-size: var(--h5);
}

.qbtn.qbtn-rounded-1,
.qbtn-theme-rounded-1 {
    --btn-radius: var(--size-xxs);
}

.qbtn.qbtn-rounded-2,
.qbtn-theme-rounded-2 {
    --btn-radius: var(--size-xs);
}

.qbtn.qbtn-rounded-3,
.qbtn-theme-rounded-3 {
    --btn-radius: var(--size-sm);
}

.qbtn.qbtn-rounded-4,
.qbtn-theme-rounded-4 {
    --btn-radius: var(--size-md);
}

.qbtn.qbtn-rounded-5,
.qbtn-theme-rounded-5 {
    --btn-radius: var(--size-lg);
}

.qbtn.qbtn-rounded-6,
.qbtn-theme-rounded-6 {
    --btn-radius: var(--size-xl);
}

.qbtn.qbtn-rounded-7,
.qbtn-theme-rounded-7 {
    --btn-radius: var(--size-xxl);
}

.qbtn.qbtn-rounded-pill,
.qbtn-theme-rounded-pill {
    --btn-radius: 9999px;
}

.qbtn.qbtn-rounded-circle,
.qbtn-theme-rounded-circle {
    --btn-radius: 50%;
}

.qbtn.qbtn-soft,
.qbtn.qbtn-soft-filled,
.qbtn.qbtn-outlined,
.qbtn.qbtn-outlined-filled {
    background-color: var(--btn-tint-pri);
    color: var(--btn-pri);
}

.qbtn.qbtn-outlined,
.qbtn.qbtn-outlined-filled {
    border: solid 2.5px var(--btn-pri);
}

.qbtn.qbtn-soft.qbtn-ghost,
.qbtn.qbtn-outlined.qbtn-ghost,
.qbtn.qbtn-soft-filled.qbtn-ghost,
.qbtn.qbtn-outlined-filled.qbtn-ghost {
    background-color: transparent;
}

/* Hover */
@media (hover: hover) and (pointer: fine) {

    .qbtn:hover,
    .qbtn.qbtn-soft-filled:hover,
    .qbtn.qbtn-outlined-filled:hover {
        background-color: var(--btn-sec);
    }

    .qbtn.qbtn-soft:hover,
    .qbtn.qbtn-outlined:hover {
        background-color: var(--btn-tint-sec);
        color: var(--btn-sec);
    }

    .qbtn.qbtn-soft-filled:hover,
    .qbtn.qbtn-outlined-filled:hover {
        color: var(--text-on-accent);
    }

    .qbtn.qbtn-outlined:hover,
    .qbtn.qbtn-outlined-filled:hover {
        border-color: var(--btn-sec);
    }
}

/* On Press */
.qbtn:active,
.qbtn.qbtn-soft-filled:active,
.qbtn.qbtn-outlined-filled:active {
    background-color: var(--btn-ter);
    color: color-mix(in srgb, var(--text-on-accent) 80%, transparent);
    transform: scale(0.97);
}

.qbtn.qbtn-soft:active,
.qbtn.qbtn-outlined:active {
    background-color: var(--btn-tint-ter);
    color: var(--btn-ter);
}

.qbtn.qbtn-outlined:active,
.qbtn.qbtn-outlined-filled:active {
    border-color: var(--btn-ter);
}

/* Disabled */
.qbtn:disabled,
.qbtn.qbtn-soft:disabled,
.qbtn.qbtn-soft-filled:disabled,
.qbtn.qbtn-outlined:disabled,
.qbtn.qbtn-outlined-filled:disabled {
    background-color: color-mix(in srgb, var(--gray-primary) 20%, transparent);
    color: color-mix(in srgb, var(--gray-tertiary) 20%, transparent);
    transform: none;
    cursor: not-allowed;
}

.qbtn.qbtn-outlined:disabled,
.qbtn.qbtn-outlined-filled:disabled {
    border-color: color-mix(in srgb, var(--btn-pri) 50%, transparent);
}

/* Button Colors */
.qbtn.qbtn-red {
    --btn-pri: var(--red-primary);
    --btn-sec: var(--red-secondary);
    --btn-ter: var(--red-tertiary);
}

.qbtn.qbtn-pink {
    --btn-pri: var(--pink-primary);
    --btn-sec: var(--pink-secondary);
    --btn-ter: var(--pink-tertiary);
}

.qbtn.qbtn-magenta {
    --btn-pri: var(--magenta-primary);
    --btn-sec: var(--magenta-secondary);
    --btn-ter: var(--magenta-tertiary);
}

.qbtn.qbtn-purple {
    --btn-pri: var(--purple-primary);
    --btn-sec: var(--purple-secondary);
    --btn-ter: var(--purple-tertiary);
}

.qbtn.qbtn-indigo {
    --btn-pri: var(--indigo-primary);
    --btn-sec: var(--indigo-secondary);
    --btn-ter: var(--indigo-tertiary);
}

.qbtn.qbtn-blue {
    --btn-pri: var(--blue-primary);
    --btn-sec: var(--blue-secondary);
    --btn-ter: var(--blue-tertiary);
}

.qbtn.qbtn-cyan {
    --btn-pri: var(--cyan-primary);
    --btn-sec: var(--cyan-secondary);
    --btn-ter: var(--cyan-tertiary);
}

.qbtn.qbtn-teal {
    --btn-pri: var(--teal-primary);
    --btn-sec: var(--teal-secondary);
    --btn-ter: var(--teal-tertiary);
}

.qbtn.qbtn-green {
    --btn-pri: var(--green-primary);
    --btn-sec: var(--green-secondary);
    --btn-ter: var(--green-tertiary);
}

.qbtn.qbtn-lime {
    --btn-pri: var(--lime-primary);
    --btn-sec: var(--lime-secondary);
    --btn-ter: var(--lime-tertiary);
}

.qbtn.qbtn-yellow {
    --btn-pri: var(--yellow-primary);
    --btn-sec: var(--yellow-secondary);
    --btn-ter: var(--yellow-tertiary);
}

.qbtn.qbtn-orange {
    --btn-pri: var(--orange-primary);
    --btn-sec: var(--orange-secondary);
    --btn-ter: var(--orange-tertiary);
}

.qbtn.qbtn-gray {
    --btn-pri: var(--gray-primary);
    --btn-sec: var(--gray-secondary);
    --btn-ter: var(--gray-tertiary);
}

.qbtn.qbtn-accent {
    --btn-pri: var(--accent-primary);
    --btn-sec: var(--accent-secondary);
    --btn-ter: var(--accent-tertiary);
}

/* Padding */
.qp-0 {
    padding: 0;
}

.qp-1 {
    padding: var(--size-xxs);
}

.qp-2 {
    padding: var(--size-xs);
}

.qp-3 {
    padding: var(--size-sm);
}

.qp-4 {
    padding: var(--size-md);
}

.qp-5 {
    padding: var(--size-lg);
}

.qp-6 {
    padding: var(--size-xl);
}

.qp-7 {
    padding: var(--size-xxl);
}

/* Start */
.qps-0 {
    padding-inline-start: 0;
}

.qps-1 {
    padding-inline-start: var(--size-xxs);
}

.qps-2 {
    padding-inline-start: var(--size-xs);
}

.qps-3 {
    padding-inline-start: var(--size-sm);
}

.qps-4 {
    padding-inline-start: var(--size-md);
}

.qps-5 {
    padding-inline-start: var(--size-lg);
}

.qps-6 {
    padding-inline-start: var(--size-xl);
}

.qps-7 {
    padding-inline-start: var(--size-xxl);
}

/* End */
.qpe-0 {
    padding-inline-end: 0;
}

.qpe-1 {
    padding-inline-end: var(--size-xxs);
}

.qpe-2 {
    padding-inline-end: var(--size-xs);
}

.qpe-3 {
    padding-inline-end: var(--size-sm);
}

.qpe-4 {
    padding-inline-end: var(--size-md);
}

.qpe-5 {
    padding-inline-end: var(--size-lg);
}

.qpe-6 {
    padding-inline-end: var(--size-xl);
}

.qpe-7 {
    padding-inline-end: var(--size-xxl);
}

/* Top */
.qpt-0 {
    padding-block-start: 0;
}

.qpt-1 {
    padding-block-start: var(--size-xxs);
}

.qpt-2 {
    padding-block-start: var(--size-xs);
}

.qpt-3 {
    padding-block-start: var(--size-sm);
}

.qpt-4 {
    padding-block-start: var(--size-md);
}

.qpt-5 {
    padding-block-start: var(--size-lg);
}

.qpt-6 {
    padding-block-start: var(--size-xl);
}

.qpt-7 {
    padding-block-start: var(--size-xxl);
}

/* Bottom */
.qpb-0 {
    padding-block-end: 0;
}

.qpb-1 {
    padding-block-end: var(--size-xxs);
}

.qpb-2 {
    padding-block-end: var(--size-xs);
}

.qpb-3 {
    padding-block-end: var(--size-sm);
}

.qpb-4 {
    padding-block-end: var(--size-md);
}

.qpb-5 {
    padding-block-end: var(--size-lg);
}

.qpb-6 {
    padding-block-end: var(--size-xl);
}

.qpb-7 {
    padding-block-end: var(--size-xxl);
}

/* X-axis */
.qpx-0 {
    padding-inline: 0;
}

.qpx-1 {
    padding-inline: var(--size-xxs);
}

.qpx-2 {
    padding-inline: var(--size-xs);
}

.qpx-3 {
    padding-inline: var(--size-sm);
}

.qpx-4 {
    padding-inline: var(--size-md);
}

.qpx-5 {
    padding-inline: var(--size-lg);
}

.qpx-6 {
    padding-inline: var(--size-xl);
}

.qpx-7 {
    padding-inline: var(--size-xxl);
}

/* Y-axis */
.qpy-0 {
    padding-block: 0;
}

.qpy-1 {
    padding-block: var(--size-xxs);
}

.qpy-2 {
    padding-block: var(--size-xs);
}

.qpy-3 {
    padding-block: var(--size-sm);
}

.qpy-4 {
    padding-block: var(--size-md);
}

.qpy-5 {
    padding-block: var(--size-lg);
}

.qpy-6 {
    padding-block: var(--size-xl);
}

.qpy-7 {
    padding-block: var(--size-xxl);
}

/* Margin */
.qm-0 {
    margin: 0;
}

.qm-1 {
    margin: var(--size-xxs);
}

.qm-2 {
    margin: var(--size-xs);
}

.qm-3 {
    margin: var(--size-sm);
}

.qm-4 {
    margin: var(--size-md);
}

.qm-5 {
    margin: var(--size-lg);
}

.qm-6 {
    margin: var(--size-xl);
}

.qm-7 {
    margin: var(--size-xxl);
}

/* Start */
.qms-0 {
    margin-inline-start: 0;
}

.qms-1 {
    margin-inline-start: var(--size-xxs);
}

.qms-2 {
    margin-inline-start: var(--size-xs);
}

.qms-3 {
    margin-inline-start: var(--size-sm);
}

.qms-4 {
    margin-inline-start: var(--size-md);
}

.qms-5 {
    margin-inline-start: var(--size-lg);
}

.qms-6 {
    margin-inline-start: var(--size-xl);
}

.qms-7 {
    margin-inline-start: var(--size-xxl);
}

/* End */
.qme-0 {
    margin-inline-end: 0;
}

.qme-1 {
    margin-inline-end: var(--size-xxs);
}

.qme-2 {
    margin-inline-end: var(--size-xs);
}

.qme-3 {
    margin-inline-end: var(--size-sm);
}

.qme-4 {
    margin-inline-end: var(--size-md);
}

.qme-5 {
    margin-inline-end: var(--size-lg);
}

.qme-6 {
    margin-inline-end: var(--size-xl);
}

.qme-7 {
    margin-inline-end: var(--size-xxl);
}

/* Top */
.qmt-0 {
    margin-block-start: 0;
}

.qmt-1 {
    margin-block-start: var(--size-xxs);
}

.qmt-2 {
    margin-block-start: var(--size-xs);
}

.qmt-3 {
    margin-block-start: var(--size-sm);
}

.qmt-4 {
    margin-block-start: var(--size-md);
}

.qmt-5 {
    margin-block-start: var(--size-lg);
}

.qmt-6 {
    margin-block-start: var(--size-xl);
}

.qmt-7 {
    margin-block-start: var(--size-xxl);
}

/* Bottom */
.qmb-0 {
    margin-block-end: 0;
}

.qmb-1 {
    margin-block-end: var(--size-xxs);
}

.qmb-2 {
    margin-block-end: var(--size-xs);
}

.qmb-3 {
    margin-block-end: var(--size-sm);
}

.qmb-4 {
    margin-block-end: var(--size-md);
}

.qmb-5 {
    margin-block-end: var(--size-lg);
}

.qmb-6 {
    margin-block-end: var(--size-xl);
}

.qmb-7 {
    margin-block-end: var(--size-xxl);
}

/* X-axis */
.qmx-0 {
    margin-inline: 0;
}

.qmx-1 {
    margin-inline: var(--size-xxs);
}

.qmx-2 {
    margin-inline: var(--size-xs);
}

.qmx-3 {
    margin-inline: var(--size-sm);
}

.qmx-4 {
    margin-inline: var(--size-md);
}

.qmx-5 {
    margin-inline: var(--size-lg);
}

.qmx-6 {
    margin-inline: var(--size-xl);
}

.qmx-7 {
    margin-inline: var(--size-xxl);
}

/* Y-axis */
.qmy-0 {
    margin-block: 0;
}

.qmy-1 {
    margin-block: var(--size-xxs);
}

.qmy-2 {
    margin-block: var(--size-xs);
}

.qmy-3 {
    margin-block: var(--size-sm);
}

.qmy-4 {
    margin-block: var(--size-md);
}

.qmy-5 {
    margin-block: var(--size-lg);
}

.qmy-6 {
    margin-block: var(--size-xl);
}

.qmy-7 {
    margin-block: var(--size-xxl);
}

/* qRounded */
.qrounded-none {
    border-radius: 0;
}

.qrounded-1 {
    border-radius: var(--size-xxs);
}

.qrounded-2 {
    border-radius: var(--size-xs);
}

.qrounded-3 {
    border-radius: var(--size-sm);
}

.qrounded-4 {
    border-radius: var(--size-md);
}

.qrounded-5 {
    border-radius: var(--size-lg);
}

.qrounded-6 {
    border-radius: var(--size-xl);
}

.qrounded-7 {
    border-radius: var(--size-xxl);
}

.qrounded-pill {
    border-radius: 9999px;
}

.qrounded-circle {
    border-radius: 50%;
}

/* qRounded Top */
.qrounded-t-none {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.qrounded-t-1 {
    border-top-left-radius: var(--size-xxs);
    border-top-right-radius: var(--size-xxs);
}

.qrounded-t-2 {
    border-top-left-radius: var(--size-xs);
    border-top-right-radius: var(--size-xs);
}

.qrounded-t-3 {
    border-top-left-radius: var(--size-sm);
    border-top-right-radius: var(--size-sm);
}

.qrounded-t-4 {
    border-top-left-radius: var(--size-md);
    border-top-right-radius: var(--size-md);
}

.qrounded-t-5 {
    border-top-left-radius: var(--size-lg);
    border-top-right-radius: var(--size-lg);
}

.qrounded-t-6 {
    border-top-left-radius: var(--size-xl);
    border-top-right-radius: var(--size-xl);
}

.qrounded-t-7 {
    border-top-left-radius: var(--size-xxl);
    border-top-right-radius: var(--size-xxl);
}

.qrounded-t-pill {
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.qrounded-t-circle {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

/* qRounded Bottom */
.qrounded-b-none {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.qrounded-b-1 {
    border-bottom-left-radius: var(--size-xxs);
    border-bottom-right-radius: var(--size-xxs);
}

.qrounded-b-2 {
    border-bottom-left-radius: var(--size-xs);
    border-bottom-right-radius: var(--size-xs);
}

.qrounded-b-3 {
    border-bottom-left-radius: var(--size-sm);
    border-bottom-right-radius: var(--size-sm);
}

.qrounded-b-4 {
    border-bottom-left-radius: var(--size-md);
    border-bottom-right-radius: var(--size-md);
}

.qrounded-b-5 {
    border-bottom-left-radius: var(--size-lg);
    border-bottom-right-radius: var(--size-lg);
}

.qrounded-b-6 {
    border-bottom-left-radius: var(--size-xl);
    border-bottom-right-radius: var(--size-xl);
}

.qrounded-b-7 {
    border-bottom-left-radius: var(--size-xxl);
    border-bottom-right-radius: var(--size-xxl);
}

.qrounded-b-pill {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.qrounded-b-circle {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

/* qRounded Left */
.qrounded-l-none {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.qrounded-l-1 {
    border-top-left-radius: var(--size-xxs);
    border-bottom-left-radius: var(--size-xxs);
}

.qrounded-l-2 {
    border-top-left-radius: var(--size-xs);
    border-bottom-left-radius: var(--size-xs);
}

.qrounded-l-3 {
    border-top-left-radius: var(--size-sm);
    border-bottom-left-radius: var(--size-sm);
}

.qrounded-l-4 {
    border-top-left-radius: var(--size-md);
    border-bottom-left-radius: var(--size-md);
}

.qrounded-l-5 {
    border-top-left-radius: var(--size-lg);
    border-bottom-left-radius: var(--size-lg);
}

.qrounded-l-6 {
    border-top-left-radius: var(--size-xl);
    border-bottom-left-radius: var(--size-xl);
}

.qrounded-l-7 {
    border-top-left-radius: var(--size-xxl);
    border-bottom-left-radius: var(--size-xxl);
}

.qrounded-l-pill {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.qrounded-l-circle {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

/* qRounded Right */
.qrounded-r-none {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.qrounded-r-1 {
    border-top-right-radius: var(--size-xxs);
    border-bottom-right-radius: var(--size-xxs);
}

.qrounded-r-2 {
    border-top-right-radius: var(--size-xs);
    border-bottom-right-radius: var(--size-xs);
}

.qrounded-r-3 {
    border-top-right-radius: var(--size-sm);
    border-bottom-right-radius: var(--size-sm);
}

.qrounded-r-4 {
    border-top-right-radius: var(--size-md);
    border-bottom-right-radius: var(--size-md);
}

.qrounded-r-5 {
    border-top-right-radius: var(--size-lg);
    border-bottom-right-radius: var(--size-lg);
}

.qrounded-r-6 {
    border-top-right-radius: var(--size-xl);
    border-bottom-right-radius: var(--size-xl);
}

.qrounded-r-7 {
    border-top-right-radius: var(--size-xxl);
    border-bottom-right-radius: var(--size-xxl);
}

.qrounded-r-pill {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.qrounded-r-circle {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

/* qRounded Top Left Bottom Right */
.qrounded-tl-br-1 {
    border-top-left-radius: var(--size-xxs);
    border-bottom-right-radius: var(--size-xxs);
}

.qrounded-tl-br-2 {
    border-top-left-radius: var(--size-xs);
    border-bottom-right-radius: var(--size-xs);
}

.qrounded-tl-br-3 {
    border-top-left-radius: var(--size-sm);
    border-bottom-right-radius: var(--size-sm);
}

.qrounded-tl-br-4 {
    border-top-left-radius: var(--size-md);
    border-bottom-right-radius: var(--size-md);
}

.qrounded-tl-br-5 {
    border-top-left-radius: var(--size-lg);
    border-bottom-right-radius: var(--size-lg);
}

.qrounded-tl-br-6 {
    border-top-left-radius: var(--size-xl);
    border-bottom-right-radius: var(--size-xl);
}

.qrounded-tl-br-7 {
    border-top-left-radius: var(--size-xxl);
    border-bottom-right-radius: var(--size-xxl);
}

.qrounded-tl-br-pill {
    border-top-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.qrounded-tl-br-circle {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

/* qRounded Top Right Bottom Left */
.qrounded-tr-bl-1 {
    border-top-right-radius: var(--size-xxs);
    border-bottom-left-radius: var(--size-xxs);
}

.qrounded-tr-bl-2 {
    border-top-right-radius: var(--size-xs);
    border-bottom-left-radius: var(--size-xs);
}

.qrounded-tr-bl-3 {
    border-top-right-radius: var(--size-sm);
    border-bottom-left-radius: var(--size-sm);
}

.qrounded-tr-bl-4 {
    border-top-right-radius: var(--size-md);
    border-bottom-left-radius: var(--size-md);
}

.qrounded-tr-bl-5 {
    border-top-right-radius: var(--size-lg);
    border-bottom-left-radius: var(--size-lg);
}

.qrounded-tr-bl-6 {
    border-top-right-radius: var(--size-xl);
    border-bottom-left-radius: var(--size-xl);
}

.qrounded-tr-bl-7 {
    border-top-right-radius: var(--size-xxl);
    border-bottom-left-radius: var(--size-xxl);
}

.qrounded-tr-bl-pill {
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.qrounded-tr-bl-circle {
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

/* qRounded Top Left */
.qrounded-tl-none {
    border-top-left-radius: 0;
}

.qrounded-tl-1 {
    border-top-left-radius: var(--size-xxs);
}

.qrounded-tl-2 {
    border-top-left-radius: var(--size-xs);
}

.qrounded-tl-3 {
    border-top-left-radius: var(--size-sm);
}

.qrounded-tl-4 {
    border-top-left-radius: var(--size-md);
}

.qrounded-tl-5 {
    border-top-left-radius: var(--size-lg);
}

.qrounded-tl-6 {
    border-top-left-radius: var(--size-xl);
}

.qrounded-tl-7 {
    border-top-left-radius: var(--size-xxl);
}

.qrounded-tl-pill {
    border-top-left-radius: 9999px;
}

.qrounded-tl-circle {
    border-top-left-radius: 50%;
}

/* qRounded Top Right */
.qrounded-tr-none {
    border-top-right-radius: 0;
}

.qrounded-tr-1 {
    border-top-right-radius: var(--size-xxs);
}

.qrounded-tr-2 {
    border-top-right-radius: var(--size-xs);
}

.qrounded-tr-3 {
    border-top-right-radius: var(--size-sm);
}

.qrounded-tr-4 {
    border-top-right-radius: var(--size-md);
}

.qrounded-tr-5 {
    border-top-right-radius: var(--size-lg);
}

.qrounded-tr-6 {
    border-top-right-radius: var(--size-xl);
}

.qrounded-tr-7 {
    border-top-right-radius: var(--size-xxl);
}

.qrounded-tr-pill {
    border-top-right-radius: 9999px;
}

.qrounded-tr-circle {
    border-top-right-radius: 50%;
}

/* qRounded Bottom Left */
.qrounded-bl-none {
    border-bottom-left-radius: 0;
}

.qrounded-bl-1 {
    border-bottom-left-radius: var(--size-xxs);
}

.qrounded-bl-2 {
    border-bottom-left-radius: var(--size-xs);
}

.qrounded-bl-3 {
    border-bottom-left-radius: var(--size-sm);
}

.qrounded-bl-4 {
    border-bottom-left-radius: var(--size-md);
}

.qrounded-bl-5 {
    border-bottom-left-radius: var(--size-lg);
}

.qrounded-bl-6 {
    border-bottom-left-radius: var(--size-xl);
}

.qrounded-bl-7 {
    border-bottom-left-radius: var(--size-xxl);
}

.qrounded-bl-pill {
    border-bottom-left-radius: 9999px;
}

.qrounded-bl-circle {
    border-bottom-right-radius: 50%;
}

/* qRounded Bottom Right */
.qrounded-br-none {
    border-bottom-right-radius: 0;
}

.qrounded-br-1 {
    border-bottom-right-radius: var(--size-xxs);
}

.qrounded-br-2 {
    border-bottom-right-radius: var(--size-xs);
}

.qrounded-br-3 {
    border-bottom-right-radius: var(--size-sm);
}

.qrounded-br-4 {
    border-bottom-right-radius: var(--size-md);
}

.qrounded-br-5 {
    border-bottom-right-radius: var(--size-lg);
}

.qrounded-br-6 {
    border-bottom-right-radius: var(--size-xl);
}

.qrounded-br-7 {
    border-bottom-right-radius: var(--size-xxl);
}

.qrounded-br-pill {
    border-bottom-right-radius: 9999px;
}

.qrounded-br-circle {
    border-bottom-right-radius: 50%;
}

/* Font Size */
.qfs-h1 {
    font-size: var(--h1);
}

.qfs-h2 {
    font-size: var(--h2);
}

.qfs-h3 {
    font-size: var(--h3);
}

.qfs-h4 {
    font-size: var(--h4);
}

.qfs-h5 {
    font-size: var(--h5);
}

.qfs-h6 {
    font-size: var(--h6);
}

.qfs-body {
    font-size: var(--body);
}

.qfs-small {
    font-size: var(--small);
}

.qfs-caption {
    font-size: var(--caption);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--text-primary);
}

body {
    font-family: "SamsungOne", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 100vh;
    color: var(--text-primary);
    background-color: var(--backgound-default);
}