html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-primary);
    background-color: var(--bg-base);
    height: 100vh;
}

.qcard {
    padding: var(--size-md);
    border-radius: var(--size-md);
    background-color: var(--bg-quarternary);
    box-shadow: 0px 2px 8px gray;
}